<h1><%= @review.title %>
<h2>By: <%= @review.user.username %>

<div> 
    <%= @review.content %>
</div>

<!-- <p><%= link_to 'See All Comments', review_comments_path(@review)%> </p> --!>
<p><%= link_to 'Add a Comment', new_review_comment_path(@review)%> </p>
<p><%= link_to 'Delete', review_path(@review), method: 'delete' %> </p>
<p><%= link_to 'Edit', edit_review_path(@review)%> </p>

<h4>Comments:</h4>
<% @review.comments.each do |c|%>
<li> <strong><%= c.user.username%></strong> says "<%= link_to c.content, review_comments_path(@review, c)%>"</li>
<% end %>